@{
    ViewData["Title"] = "Dobrodošli u izradu profila igrača";
    ViewData["Text"] = "Sretno u daljnoj karijeri!";
}

<div class="text-center">
    <h1>@ViewBag.Title</h1>
    <h1>@ViewBag.Text</h1>
    
</div>
